{% extends 'base.html' %}

{% block title %}書籍一覧{% endblock %}
{% block h1 %}書籍一覧{% endblock %}

{% block content %}
{% for item in object_list %}
<di class="p-4 m-4 bg-light border border-success rounded">
    <h2 class="text-success">{{ item.title }}</h2>
    <h6>category: {{ item.category }}</h6>
    <div class="mt-3">
        <a href="{% url 'detail-book' item.pk %}" class="btn btn-primary">詳細</a>
        <a href="{% url 'update-book' item.pk %}" class="btn btn-primary">編集</a>
        <a href="{% url 'delete-book' item.pk %}" class="btn btn-primary">削除</a>
    </div>
    {% endfor %}
{% endblock content %}